<div id="body_leftcolumn">
  <div>
    <div>
      <h1>ABOUT GEOBOB</h1>
      <p>GeoBob is a development platform that enables the design and   development of location-based applications for a wide variety of uses   and for mobile devices like iPhone and Android phones. The idea to build   GeoBob came after the successful design, development, and   implementation of an educational mobile game. A group of graduate   students at USU created a location-based educational game for hand-held   GPS devices to teach visitors about the American West Heritage Center   (AWHC). The game contains three story lines that can be played one at a   time. The storylines follow a day in the life of a pioneer girl, a   Native American boy, and a trapper. Playing these games give the   visitors the opportunities to not only explore the grounds of the AWHC   but to also experience what life was like for these three characters.</p>

      <p>              GeoBob is a web-based interface that allows users to input   content for each application. No programming experience is required to   create an application for the mobile devices. After the content is   submitted in the template on the website, a file is created and sent to   third-party software called Titanium from http://www.appcelerator.com/.   Titanium is a free and open source program that takes the user created   file from the website and compiles it into an application for the mobile   device. Once the application is created, the application can then be   installed on the iPhone or Android phone. The application supports   information such as, text, images, audio files, and video. Depending on   the location of the user and the use of the application will determine   if the application has streaming information via WIFI or self- contained   information. If the user’s location is somewhere that does not have   WIFI (e.g., Yellow Stone National Park), then the data will be self-   contained in the application.</p>
      <p>              The current applications that have been created include   roadside information for scenic or historical spots along the road, a   map and information for a local zoo, a map and information for Utah   State University campus, locations and information for backwoods trails,   historical and locations of interest in Vienna Austria, and a guide for   certain areas within the Gettysburg battle grounds. Each of these   applications will use the GPS location of the user to determine what   information (text, image, audio, and video) will be displayed at that   time and place. Future applications will be created by users outside of   the <a href="http://idias.usu.edu" target="_blank">IDIAS</a> team.</p>
      <p>The game <em>Pathways to the West</em> that was created for   the AWHC will be used in research to determine the effects of mobile   gaming on learning. This research includes an elementary class visiting   the Center and using the game to learn about the people and activities   that took place during the specific time periods. Research goals for   GeoBob include: 1. gaining a better understanding of what is involved in   best practices when designing mobile games and applications, 2.   determining what items/objects/information are used and why was they are   used in the application, and 3. observing how GeoBob is used by others   outside of the <a href="http://idias.usu.edu" target="_blank">IDIAS</a> team.</p>

      <p>
        As GeoBob is further developed and functionality is added, the <a href="http://idias.usu.edu" target="_blank">IDIAS</a> team aims to make   it possible for anyone to design and develop his/her own mobile   application. An objective of GeoBob is to create a development platform   that is easy to use and functionally robust enough to create many   different types of mobile applications. By reaching this objective, it   will be possible, for example, for a stay-at-home mom to build a mobile   scavenger hunt application for her son’s birthday party or a university   professor to build an educational mobile application. GeoBob will open   the door for mobile application development to the general public. </p>
      </div>
    </div>
  </div> 
  <div id="body_rightcolumn">
    <div>

      <h1>Geobob team</h1>
      <ul>
        <li>Brett Shelton, PhD (Project Director): <br />
          <a href="mailto:brett.shelton@usu.edu">Brett Shelton</a></li>
          <br /><li>Alan Hashimoto, MFA (Project co-Director): <br />
            <a href="mailto:alanhashimoto@gmail.com">Alan Hashimoto</a></li>

            <br /> <li>Dave Smellie (Project Coordinator)</li>
            <br /><li>Mary Ann Parlin, PhD (Project Manager)</li><br />
            <li>Jon Scoresby (Project Coordinator)</li><br />
            <li>Justin Ball (Project Lead Developer)</li><br />
            <li>Yuxuan Wang [Alex] (Project Developer) </li><br />

            <li>Blake Barton (Digital Graphic Designer)</li><br />

            <li>Kory Fenton (Digital Graphic Designer)</li><br />
            <li>Matt Malo (Digital Graphic Designer)</li><br />
            <li>Andrew Hayes (Digital Graphic Designer)</li><br />
            <li>Ashlee Davis (Project Business Manager)</li><br />
          </ul>
          <h3>&nbsp;</h3>
        </div>

      </div>
