<div id="body_demo">
  <div>
    <div> 
      Below are screenshots of GeoBob's authoring page. The &quot;Projects&quot;page shows a layout of your current apps.
      <br />
      <br />
      The first step of the authoring process is choosing your app name and giving it a description. You will then choose the icon and splash page that you would like to use. 
    </div>
  </div>
</div>
<img src="images/demo_1.jpg" alt="GeoBob Screenshot" />
<div id="body_demo">
  <div>
    <div> 
      Next,you'll choose your background image and what kinds of functionality you would like to use. We offer 4 main choices:RSS feeds,Links,Maps,and photographs. The icon images are all customizable.
      <br />
      <br />
      Once that is complete,you will move on to the next step. Step 3 gives you a chance to make sure your work is how you want it. This step will show any errors before building your apps
      and it will let you preview how your app will look.
    </div>
  </div>
</div>
<img src="images/demo_2.jpg" alt="GeoBob Screenshot" />
<div id="body_leftcolumn">
  <div>
    <div> 
      Below is an example of what the &quot;map&quot;authoring interface looks like. You can edit the map icon,upload a google map feed,and choose the icons you want displayed on the map.
    </div>
  </div>
</div>
<img src="images/demo_3.jpg" alt="GeoBob Screenshot" />