<div id="project-list" class="text_field"> 
  <h1>CURRENT PROJECTS:</h1>
  <p><%= link_to 'Add New Project', new_project_path %></p>
  <div>
    <%= render :partial => 'projects/project', :collection => @projects -%>
  </div>
</div>