<div id="footer">
  <div id="footer_container">
    <div id="footer_1">
      <a href="/"><img src="/images/footer_logo.jpg" alt="footer logo" width="164" height="164" /></a>
    </div>
    <div id="footer_2">
      <h3>GeoBob</h3>
      <ul>
        <li><a href="/" class="footer">Home</a></li>
        <li class="footer"><a href="demos" class="footer">Example</a></li>
        <li class="footer"><a href="about" class="footer">About Us</a></li>
        <li class="footer"><a href="contact" class="footer">Contact</a></li>
      </ul>
    </div>
    <div id="footer_3">
      <h3>Keep Posted</h3>
      <ul>
        <li><a href="http://www.twitter.com" class="footer">Twitter</a></li>
        <li class="footer"><a href="http://www.facebook.com" class="footer">Facebook</a></li>
        <li><a href="aboutus.html" class="footer">Announcements</a></li>
        <li><a href="contact.html" class="footer">Newsletter</a></li>	                      
      </ul>
    </div>
    <div id="footer_4"><img src="images/phone_logos.jpg" alt="Android and iPhone" border="0" usemap="#Map" />
      <map name="Map" id="Map"><area shape="rect" coords="10,6,219,75" href="iphone.html" target="_blank" />
        <area shape="rect" coords="9,83,220,153" href="android.html" target="_blank" />
      </map>
    </div>
  </div>
</div>